doctype html
html
  head
    title Code Grant Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    p
    p iljoong@outlook.com
