extends layout

block content
  h2 OAuth Demo - Code grant
  p Accessing Azure service management api with OAuth 2.0

  h3 Token
  pre #{token}
  h3 Refresh token
  pre #{retoken}
  h3 VM list
  pre #{body}
